@import "../custom_variables.scss";


.btn-fancy {
    color:$primary;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2) inset;
  
  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  }
}