@import "../custom_variables.scss";

a.cart {
    margin: 0px 0px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
}