@import "../custom_variables.scss";
@import "./order_interface.scss";
@import "./alergens.scss";
@import "./recipe_widget.scss";
@import "./attributes.scss";
@import "./delivery_type.scss";
@import "./cart.scss";

#OrderEditingInterface{
    background-color: $secondary-light;
    padding-top: 20px;
    #current-order {
        background: $primary;
    }
}



