@import "../custom_variables.scss";

.order-interface {
    font-size: 1.5em;
    background-color: $off-white;
    border: 1px solid $primary;
    border-radius: 10px;
    height: 1.5em;

    &.active {
        color: $primary;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
        h3 {
            font-weight: bold;
        }
    }
    &.inactive {
        color: grey;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;

    }

    a:hover {
        background-color: $primary;
        border-radius: 10px;
        i {
            color: $off-white;
        }
    }

    i {
        padding: 0px 5px;
        .enabled {
            color: $primary;
        }
        .disabled {
            color: grey;
        }
    }

    .spinner, h3 {
        margin: 0px 5px;
    }
}