@import "../custom_variables.scss";


.recipe-widget{
    border-radius: 10px;

    &.vegan {
        background: $vegan-color;
        box-shadow: 0 0 10px 0 $vegan-color;
    }

    &.vegetarian {
        background: $vegetarian-color;
        box-shadow: 0 0 10px 0 $vegetarian-color;
    }

    &.pescetarian {
        background: $pescetarian-color;
        box-shadow: 0 0 10px 0 $pescetarian-color;
    }

    &.meat {
        background: $meat-color;
        box-shadow: 0 0 10px 0 $meat-color;
    }
    
    .price-tag {
        background: $off-white;
        margin: 5px 5px;
        padding: 2px 10px;
        border-radius: 15px;
        font-weight: bold;
        // box-shadow: 0 1px 8px 0 $vegan-color inset;

        &.vegan{
            background-color: $vegan-color;
            color: white;
        }
        &.vegetarian{
            background-color: $vegetarian-color;
        }
        &.pescetarian{
            background-color: $pescetarian-color;
        }
        &.meat{
            background-color: $meat-color;
        }
        p {
            margin-bottom: 0;
        }
    }
}