{% extends "core/html/mid_page_body.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_name %}
  Nový recept
{% endblock %}

{% block extra_head %}
<script src="{% static 'core/js/form_validation.js' %}"></script> 
{% endblock %}

{% block title %}
<span class="material-symbols-rounded">egg_alt</span>
  Nový recept
{% endblock %}

{% block body %}
  <form method="post" action="{% url 'recipes:edit_recipe_ingrediences' recipe_id=recipe_id %}" class="row g-4">
    {% csrf_token %}
    <div id="management_form">  
      {{ formset.management_form }}
    </div>
    
    {% for form in formset %}
      <div class="form-in-formset col-6">
        {{ form | crispy }}
        <hr/>
      </div>
    {% endfor %}
    

    <div class="col-6 ms-auto">
      <button type="button" class="btn secondary-button" id="add-ingredient">Pridať ingredienciu</button>
    </div>
    <div class="col-6 ms-auto">
      <input type="submit" name="submit" value="Uložiť" class="btn primary-button" id="submit"/>
    </div>

  </form>
{% endblock %}