{% load crispy_forms_tags %}

<div class="row recipe" id="recipe_{{recipe.id}}" recipe_id="{{recipe.id}}" recipe_info_url="{% url 'recipes:recipe_info' recipe_id=recipe.id %}">
  <!-- IMG -->
  <div class="col-auto img">
    {% if recipe.thumbnail %}
    <img src="{{ recipe.thumbnail.url }}" alt='thumbnail'>
    {% else %}
    <img src="https://storage.cloud.google.com/mandalinka/recipes/template/IMG_4581.JPG" alt='thumbnail'>
    {% endif %}
  </div>
  <!-- INFO -->
  <div class="col info">
    <h5 class="name">
      {{ recipe }}
    </h5>
    {% if recipe.automatic_errors %}
    <a href="#" style="text-decoration:none;" data-bs-toggle="tooltip" data-bs-title="{{ recipe.ERRORS }}" disabled>
      <span class="badge rounded-pill text-bg-warning" style="font-size:50%; vertical-align: super;">
        {{ recipe.automatic_errors }}
      </span>
    </a>
    {% endif %}
    {% if not recipe.description_finished %}
    <span class="badge rounded-pill text-bg-danger" style="font-size:50%; vertical-align: super;">
      <a href="{% url 'recipes:render_editing_recipe' editing_recipe_id=recipe.id %}#id_description_finished"
        style="text-decoration: none; color: inherit;" data-bs-toggle="tooltip"
        data-bs-title="Opis nie je označený za dokončený">
        OPIS
      </a>
    </span>
    {% endif %}
    {% if not recipe.steps_finished %}
    <span class="badge rounded-pill text-bg-danger" style="font-size:50%; vertical-align: super;">
      <a href="{% url 'recipes:render_editing_recipe' editing_recipe_id=recipe.id %}#id_steps_finished"
        style="text-decoration: none; color: inherit;" data-bs-toggle="tooltip"
        data-bs-title="Postup nie je označený za dokončený">
        POSTUP
      </a>
    </span>
    {% endif %}
    {% if not recipe.ingredients_finished %}
    <span class="badge rounded-pill text-bg-danger" style="font-size:50%; vertical-align: super;">
      <a href="{% url 'recipes:render_editing_recipe' editing_recipe_id=recipe.id %}#id_ingredients_finished"
        style="text-decoration: none; color: inherit;" data-bs-toggle="tooltip"
        data-bs-title="Ingrediencie nie sú označené za dokončené">
        INGREDIENCIE
      </a>
    </span>
    {% endif %}
    {% if recipe.predecessor %}
    <p class="inheritence">
      - zdedné z
      <a href="#recipe_{{ recipe.predecessor.id }}" style="color:black;" {% if recipe.exclusive_predecessor %}
        data-bs-toggle="tooltip" data-bs-title="Exklusívne dedenie - pri aktivácií dediča sa deaktivuje predchodca"
        {% endif %}>
        {{ recipe.predecessor }}{% if recipe.exclusive_predecessor %} *{% endif %}
      </a>
    </p>
    {% endif %}
    <p class="description">{{ recipe.description }}</p>
    <p class="edited">Posledná úprava: {{ recipe.date_created }}</p>
    <p class="created">Vytvorené: {{ recipe.date_created }}, {{ recipe.created_by }}</p>
  </div>
  <!-- ACTIONS -->
  <div class="col-auto ms-auto actions">
    <div class="btn-group-vertical" role="group">
      {% if recipe.status == 'Preparation' %}
      <button type="button" class="btn dark-light-button edit-button" data-bs-toggle="modal"
        data-bs-target="#edit-{{recipe.id}}-modal">
        Upraviť
      </button>
      {% endif %}
      {% if recipe.status == "Preparation" %}
      <a role="button" class="btn success-light-button"
        href="{% url 'recipes:activate_recipe' recipe_id=recipe.id %}">
        Aktivovať
      </a>
      {% elif recipe.status == "Active" %}
      <a role="button" class="btn danger-light-button"
        href="{% url 'recipes:deactivate_recipe' recipe_id=recipe.id %}">
        Vrátiť na úpravu
      </a>
      <a role="button" class="btn danger-light-button" href="{% url 'recipes:retire_recipe' recipe_id=recipe.id %}">
        Prestať používať
      </a>
      {% elif recipe.status == "Retired" %}
      <a role="button" class="btn danger-light-button"
        href="{% url 'recipes:deactivate_recipe' recipe_id=recipe.id %}">
        Vrátiť na úpravu
      </a>
      <a role="button" class="btn success-light-button"
        href="{% url 'recipes:activate_recipe' recipe_id=recipe.id %}">
        Aktivovať
      </a>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="{{recipe.id}}-modal" tabindex="-1" aria-labelledby="{{recipe.id}}-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-xl p-5 rounded-4">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="{{recipe.id}}-modal-title">
          <span class="material-symbols-rounded">
            lunch_dining
          </span>
          <p>
            <strong>{{ recipe }}</strong>
          </p>
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>

{% if recipe.status == 'Preparation' %}
<!-- Editing Modal -->
<div class="modal fade" id="edit-{{recipe.id}}-modal" tabindex="-1" aria-labelledby="edit-{{recipe.id}}-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen p-5 rounded-4">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="edit-{{recipe.id}}-modal-title">
          <span class="material-symbols-rounded">
            lunch_dining
          </span>
          <p>
            Upravte recept <strong>{{ recipe }}</strong>
          </p>
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-md-4" style="border-right: 1px solid lightgrey;">
            <h4>
              <span class="material-symbols-rounded">
                tune
              </span>
              <p>
                Všeobecné
              </p>
            </h4>

            {% crispy recipe.edit_general_form %}

          </div>
          <div class="col-md-4" style="border-right: 1px solid lightgrey;">
            <h4>
              <span class="material-symbols-rounded">
                checklist
              </span>
              Kroky
            </h4>

            {% url 'recipes:edit_recipe_steps' recipe_id=recipe.id as action %}
            {% include 'recipes/recipes/forms/steps_formset.html' with formset=recipe.edit_steps_formset action=action %}

          </div>
          <div class="col-md-4">
            <h4>
              <span class="material-symbols-rounded">
                egg_alt
              </span>
              Ingrediencie
            </h4>

            {% url 'recipes:edit_recipe_ingredients' recipe_id=recipe.id as action %}
            {% include 'recipes/recipes/forms/ingredients_formset.html' with formset=recipe.edit_ingredients_formset action=action %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

