{% extends 'core/html/base.html' %}
{% load static %}

{% block page_name %}
Recepty
{% endblock %}

{% block extra_head %}
<link href="{% static 'recipes/css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block core %}
<section id="recipes-list" class="manage-list">
    <div>
        <div>
            {% include 'core/html/message_warning.html' with message=message warning=warning only %}
            <div class="row heading">
                <div class="col-auto title">
                    <h2 id="title">
                        Zoznam receptov
                    </h2>
                </div>
                <div class="col-auto ms-auto actions btn-group-vertical">
                    <a role="button" href="{% url 'recipes:manage' %}" class="btn dark-light-button">
                        Späť
                    </a>
                    <a role="button" href="{% url 'recipes:add_recipe' %}" class="btn success-light-button">
                        Pridať
                    </a>
                </div>
            </div>
            
            {% if recipes.recent %}
            <h4 class="mt-2">Nedávno vytvorené neakívne recepty</h4>
                <div class="list">
                    <hr width="90%" style="margin: 0 auto;">
                    {% for recipe in recipes.recent %}
                        {% include 'recipes/recipes/widget.html' with recipe=recipe only %}
                        <hr width="90%" style="margin: 0 auto;">
                    {% endfor %}
                </div>
            {% endif %}

            {% if recipes.active %}
            <h4 class="mt-2">Aktuálne využívané recepty</h4>
            <div class="list">
                <hr width="90%" style="margin: 0 auto;">
                {% for recipe in recipes.active %}
                    {% include 'recipes/recipes/widget.html' with recipe=recipe only %}
                    <hr width="90%" style="margin: 0 auto;">
                {% endfor %}
            </div>
            {% endif %}

            {% if recipes.inactive %}
            <h4 class="mt-2">Deaktivované recepty</h4>
            <div class="list">
                <hr width="90%" style="margin: 0 auto;">
                {% for recipe in recipes.inactive %}
                    {% include 'recipes/recipes/widget.html' with recipe=recipe only %}
                    <hr width="90%" style="margin: 0 auto;">
                {% endfor %}
            </div>
            {% endif %}

            <script>
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            </script>
        </div>
    </div>
</section>
{% endblock %}