{% extends "core/html/mid_page_body.html" %}
{% load static %}


{% block page_name %}
Resetovanie hesla
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block title %}
<span class="material-symbols-rounded">mark_email_read</span>
Email odoslaný
{% endblock %}

{% block body %}
<h6>
    Na zadanú emailovú adresu sme odoslali mail s linkom na resetovanie hesla.
</h6>
<h6>
    Ak ti mail nepríde do pár minút, skontroluj si spam
    a uisti sa, že si zadal správny email.
    Ak ti aj napriek tomu neprišiel, kontaktuj nás.
</h6>
{% endblock %}