$primary: #F28500;
$primary-light: #f6b68e;
$secondary: #527958;
$secondary-light: #9CC5A1;
$off-white: #fdf3ec;
$h1-font-size: 5rem;

$vegan-color: #6D8B74;
$vegetarian-color: #C4DFAA;
$pescetarian-color: #C1EFFF;
$meat-color: #FFB3B3;