@import '../../../../../static/core/css/partials/variables';

.delivery-type {
    padding: 0px 15px;
    font-size: 2em;
    > a {
        padding: 0px 15px;
    }
    > .active {
        color: $primary;
        font-size: 100%;
        > span {
            animation: selected .3s ease;
            font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' 0,
            'opsz' 40;
            font-size: 100%;
        }
        
    }
    > .inactive {
        color: gray;
        font-size: 100%;
        > span {
            animation: unselected .3s ease;
            font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 40;
            font-size: 100%;
        }
        &:hover {
            > span{
                animation: hover .2s ease;
                font-variation-settings: 'wght' 500;
                font-size: 100%;
            }
        }
        
    }
}

@keyframes selected {
    0% { color: grey; }
    100% {color: $primary; }
}

@keyframes hover {
    0% { font-variation-settings: 'wght' 200; }
    100% { font-variation-settings: 'wght' 500; }
}

@keyframes unselected {
    0% {
        color: $primary;
        font-variation-settings: 'wght' 500;
    }
    50% {
        color: grey;
    }
    100% {
        font-variation-settings: 'wght' 200;
    }
}