{% extends "home/mid_page_body_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_name %}
  Potvrďte email
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}
  Potvrďte zadanú emailovú adresu
{% endblock %}

{% block body %}
<h6 class="p-3">

  Ďakujeme za potvrdenie emailovej adresy
  
</h6>
<h6 class="p-3 pt-0">
  {% if pronoun == 'they' %}
  Pokračujte pridaním adresy doručenia:
  
  {% elif pronoun == 'male' %}
  Pokračuj pridaním adresy doručenia:

  {% elif pronoun == 'female' %}
  Pokračuj pridaním adresy doručenia:
  
  {% endif %}
</h6>

<a href="{% url 'home:add_first_address' %}" class="btn btn-outline-dark mt-3 ms-auto" role="button">
  Pridať adresu doručenia
</a>
{% endblock %}
