@import "partials/variables";

body {
  background-color: $primary-light;
}

#account {
  a {
    color: black;
    text-decoration: none;
    span {
      font-size: 125% !important;
      vertical-align: sub;
    }
    &:hover {
      font-weight: bold;
      span {
        font-variation-settings: "wght" 600;
      }
    }
  }
}

#tabs {
  a {
    color: black;
    display: inline-block;
    margin: 0.5em;
    margin-top: 0;
  }
  a > .material-symbols-rounded {
    font-size: 30px !important;
  }
}
