@import '../../../../static/core/css/partials/variables';

.manage-list > div {
    padding: 5em 5vh 20vh 5vh;
    background-color: $primary-light;
    min-height: 100vh;
    .recipe, .ingredient {
        width: 100%;
        border-radius: 5px;
        background-color: $off-white;
    }
}

#recipes-list .recipe, #ingredients-list .ingredient {
    div {
        margin: auto 0;
        &.info {
            margin: 0.5em !important;
        }
        &.edit {
            margin-left: auto !important;
        }
    }
    .img {
        padding-left: 0;
    }
    .name {
        margin: 0;
    }
    .description {
        font-size: 75%;
    }
    .created, .edited {
        font-size: 75%;
        color: grey;
        margin: 0;
    }
}
