.manage-list > div {
  padding: 5em 1em 20vh;
  background-color: #f6b68e;
  min-height: 100vh;
}
.manage-list > div .heading {
  vertical-align: middle;
  align-items: center;
}
.manage-list > div .recipe, .manage-list > div .ingredient {
  padding: 0 0em;
  margin: 0 auto;
}
.manage-list > div .recipe .img, .manage-list > div .recipe .info, .manage-list > div .recipe .actions, .manage-list > div .ingredient .img, .manage-list > div .ingredient .info, .manage-list > div .ingredient .actions {
  height: 100%;
  margin: auto 0;
}
.manage-list > div .recipe .img, .manage-list > div .ingredient .img {
  height: 10em;
  width: 10em;
  padding: 0;
  margin: 0;
}
.manage-list > div .recipe .img img, .manage-list > div .ingredient .img img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}
.manage-list > div .recipe .info, .manage-list > div .ingredient .info {
  padding: 10px 0;
  display: inline;
}
.manage-list > div .recipe .info .name, .manage-list > div .ingredient .info .name {
  margin: 0;
  font-weight: bold;
  display: inline;
}
.manage-list > div .recipe .info .errors, .manage-list > div .ingredient .info .errors {
  display: inline;
}
.manage-list > div .recipe .info .errors a, .manage-list > div .ingredient .info .errors a {
  text-decoration: none;
}
.manage-list > div .recipe .info .errors span, .manage-list > div .ingredient .info .errors span {
  font-size: 70%;
  vertical-align: super;
  color: black;
}
.manage-list > div .recipe .info .inheritance, .manage-list > div .ingredient .info .inheritance {
  margin: 0;
}
.manage-list > div .recipe .info .description, .manage-list > div .ingredient .info .description {
  font-size: 85%;
  white-space: normal;
}
.manage-list > div .recipe .info .created, .manage-list > div .recipe .info .edited, .manage-list > div .ingredient .info .created, .manage-list > div .ingredient .info .edited {
  font-size: 75%;
  color: grey;
  margin: 0;
}
.manage-list > div .recipe .actions, .manage-list > div .ingredient .actions {
  margin-left: auto !important;
}

#account a {
  color: black;
  text-decoration: none;
}
#account a span {
  font-size: 125% !important;
  vertical-align: sub;
}
#account a:hover {
  font-weight: bold;
}
#account a:hover span {
  font-variation-settings: "wght" 600;
}

#tabs a {
  color: black;
  display: inline-block;
  margin: 0.5em;
  margin-top: 0;
}
#tabs a > .material-symbols-rounded {
  font-size: 30px !important;
}