.manage-list > div {
  padding: 5em 1em 20vh;
  background-color: #f6b68e;
  min-height: 100vh;
}
.manage-list > div .heading {
  vertical-align: middle;
  align-items: center;
}
.manage-list > div .accordion .accordion-header button {
  font-size: 100%;
}
.manage-list > div .accordion .accordion-header button span {
  margin-right: 0.5em;
}
.manage-list > div .accordion .accordion-body {
  background-color: #fdf3ec;
}
.manage-list > div .list {
  width: 100%;
}
.manage-list > div .list > :first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.manage-list > div .list > :last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.manage-list > div .recipe, .manage-list > div .ingredient {
  padding: 0 0em;
  margin: 0 auto;
  transition: all 0.3s;
}
.manage-list > div .recipe:hover, .manage-list > div .ingredient:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.manage-list > div .recipe .img, .manage-list > div .recipe .info, .manage-list > div .recipe .actions, .manage-list > div .ingredient .img, .manage-list > div .ingredient .info, .manage-list > div .ingredient .actions {
  height: 100%;
  margin: auto 0;
}
.manage-list > div .recipe .img, .manage-list > div .ingredient .img {
  height: 10em;
  width: 10em;
  padding: 0;
  margin: 0;
}
.manage-list > div .recipe .img img, .manage-list > div .ingredient .img img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.manage-list > div .recipe .info, .manage-list > div .ingredient .info {
  padding: 10px 0;
}
.manage-list > div .recipe .info .name, .manage-list > div .ingredient .info .name {
  margin: 0;
  display: inline;
  font-weight: bold;
}
.manage-list > div .recipe .info .inheritence, .manage-list > div .ingredient .info .inheritence {
  margin: 0;
}
.manage-list > div .recipe .info .description, .manage-list > div .ingredient .info .description {
  font-size: 85%;
  white-space: normal;
}
.manage-list > div .recipe .info .created, .manage-list > div .recipe .info .edited, .manage-list > div .ingredient .info .created, .manage-list > div .ingredient .info .edited {
  font-size: 75%;
  color: grey;
  margin: 0;
}
.manage-list > div .recipe .actions, .manage-list > div .ingredient .actions {
  margin-left: auto !important;
}

#account a {
  color: black;
  text-decoration: none;
}
#account a span {
  font-size: 125% !important;
  vertical-align: sub;
}
#account a:hover {
  font-weight: bold;
}
#account a:hover span {
  font-variation-settings: "wght" 600;
}

#tabs a {
  color: black;
  display: inline-block;
  margin: 0.5em;
  margin-top: 0;
}
#tabs a > .material-symbols-rounded {
  font-size: 30px !important;
}