<div class="ingredient-version-info-{{ ingredient_version.id }}">
    <p>Jednotka: <strong>{{ ingredient_version.unit }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
    <p>Cena na jednotku: <strong>{{ ingredient_version.cost_str }}</strong></p>
</div>