$my-color1: #35524A;
$my-color2: #637064;
$my-color3: #918D7D;
$my-color4: #BFAB96;
$my-color5: #ECC8AF;
$my-color6: #E3A487;
$my-color7: #D9805F;
$my-color8: #D05F39;
// $primary: $my-color8;
// $secondary: $my-color1;
$h1-font-size: 5rem;

@font-face {
  font-family: "Baskerville";
  src: url("./baskerville-cufonfonts-webfont/Baske1.woff")
}

$font-family-sans-serif: "Baskerville", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

// body.login{
//     background: $primary;  /* fallback for old browsers */
//     background: -webkit-linear-gradient(to left, $secondary, $primary);  /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(0deg, $secondary, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     background-image: radial-gradient(circle,$white 30%, #FF9B42 100%);
// }

.order-interface {
  font-size: 1.5em;
  color: $white;
  .enabled {
    color: $white;
    &:hover {
      color: shift-color($white, 15%);
    }
  }

}

div.login-window {
  max-width: 35rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.alert:empty {
  display: none;
}

div.scrollmenu {
  background-color: $secondary;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  display: inline-block;
}


.btn-fancy {
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
}

.btn-fancy:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-fancy:enabled {
  box-shadow: 0 0 20px $primary;
}

.landing-view {
  background:#26D0CE;

  .title {
    color: orange;
    font-size: 8rem;
  }
}