$primary: #f79d00;
$secondary: #217602;
$h1-font-size:  5rem;

@font-face {
    font-family: "Baskerville";
    src: url("./baskerville-cufonfonts-webfont/Baske1.woff")
}

$font-family-sans-serif:      "Baskerville", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


body.login{
    background: $primary;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $secondary, $primary);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, $secondary, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.login-window {
    max-width: 30rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: $primary;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $secondary, $primary);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, $secondary, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.alert:empty{
    display: none;
}

div.scrollmenu {
    background-color:$secondary;
    overflow: auto;
    white-space: nowrap;
  }
  
div.scrollmenu div {
    display: inline-block;
 }

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
