body#background {
    background-color: $primary-light;
}
.mid-screen-body {
    background-color: $off-white;
    max-width: 35rem;
    width: 85%;
    margin: 15vw auto 10vw auto;
    padding: 10px;
    border-radius: 20px;

    > #title {
        font-weight: bold;
        text-align: center;
        margin: 10px 10px;
        color:$primary;
    }
    > form {
        margin: 10px;
        padding-top: 10px;
        .mb-3 {
            margin-bottom: inherit !important;
        }

    }

    .move-arrows {
        color: $primary;
        a.arrow {
            margin: 0 10px;
            transition: 0.5s;
            font-variation-settings: 'wght' 400;
            cursor: pointer;
            span {
                font-size: 200%;
            }
            &:hover span {
                font-variation-settings: 'wght' 600;
            }
            &[disabled] {
                cursor: default;
                pointer-events:none;
                span {
                    color: grey;
                }
            }
        }
    }

    #back-button {
        color:$primary;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2) inset;
      
      &:hover {
        background-color: $primary;
        color: black;
        border: 1px solid $primary;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
      }
    }
}
