@import "./custom_variables.scss";


// Custom font styles
@import "./fonts.scss";


// Bootstrap with icons
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");





// Landing view
@import "./js-elements/landing_view.scss";

// Order editing
@import "./js-elements/order_editing.scss";

// New user
@import "./new_user.scss";


// Icons 

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
}


// General

.alert:empty {
  display: none;
}

div.scrollmenu {
  background-color: $secondary;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  display: inline-block;
}


      
        // Elements

// Buttons

@import "./js-elements/buttons.scss";

// Maps

@import "./maps.scss";

// Input fields

@import "./input_fields.scss";
