{% load static %}

<!DOCTYPE html>
<html lang="sk">

<head>
    <title>Mandalinkine recepty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link href="{% static 'public/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <!-- Custom icon -->
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
    <!-- Google symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <script src="{% static 'home.js' %}"></script>
    <!-- React  -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    
</head>

    <!-- Login Modal -->

    {% if loginform and not request.user.is_authenticated %}
        <div class="modal fade {% if focus == 'LoginModal' %}active{% endif %}" id="LoginModal" tabindex="-1"
            data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="LoginModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="LoginModalLabel">Prihláste sa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% crispy loginform %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <section id="landing_view" class="min-vh-100 position-relative">

        <a href="#landing_view" class="position-absolute start-0 top-0 p-3">
            <img class="img-fluid" width=35rem src="{% static 'public/favicon.ico' %}" alt="">
        </a>

        <div id="account" class="position-absolute top-0 end-0"></div>
        <script type="module" src="{% static 'js/home_account' %}"></script>
        
        <h1 class="title">Mandalinka</h1>
        <hr/>
        <h4 class="subtitle">Varenie bez starostí</h4>    

    </section>

    <section id="OrderEditinInterface" class="min-vh-100">
        
        <div id="CurrentOrder"></div>
        <script type="module" src="{% static 'js/order_editing.js' %}"></script>

    </section>
    



{% block current_order %}
{% endblock %}