{% extends "base.html" %}

{% load static %}

{% block includes %}
    <script src="{% static 'home.js' %}"></script>
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

{% block landing_view %}
    <h1 class="title p-5 m-5 ps-0">Mandalinka</h1>
    <h4>Jeden pomaranč sa zaľúbil raz do Darinky Mandalinky</h4>    
    <h4> Ale, ale, ale... 
        {% if request.user.first_name %}
            {{request.user.first_name}}
        {% elif request.user.username %}
            {{request.user.username}}
        {% else %}
            niekto
        {% endif %} 

        z {% firstof request.user.profile.street "" %} je zase hladný
    </h4>
{% endblock %}



{% block current_order %}
    <div id="CurrentOrder"></div>
    <script src="{% static 'react-manda-lib/get_cookie.js' %}" type="text/babel" data-type="module"></script>
    <script src="{% static 'order_editing.jsx' %}" type="text/babel" data-type="module"></script>
{% endblock %}