{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="bg-secondary text-primary p-5 text-center text-sm-start" id="home">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="mt-5">
                <p class="fs-1 fw-lighter mb-0">Mandalinka</p>
                <p class="fs-2 fw-lighter">Varenie bez starostí</p>
            </div>

            <img class="img-fluid w-50 mh-75" src="{% static 'favicon.ico' %}" alt="">
        </div>
    </div>
</section>

<section class="bg-secondary text-primary" id="Recepty">
    
    <div class="scrollmenu">
        {% for recipe in recipes %}
        <div>
            
        </div>
        {% endfor %}
    </div>
    
</section>

{% endblock %}

