{% extends "home/login_layout.html" %}

{% block title %}
    Vitajte naspäť!
{% endblock %}

{% block body %}



    <form class="frm px-4 pb-3" action="{% url 'home:login' %}" method="post">
        {% csrf_token %}
        {% for elem in form %}
        <div class="form-floating my-2">
            {{ elem }}
            <label for="{{ elem.id_for_label }}">
                {{ elem.label }}
            </label>
        </div>
        {% endfor %}

        <p class="my-1">Zabudli ste heslo? Kliknite <a class="link-primary" href="#reset-password">sem</a>!</p>
        <div class="row g-3 mt-3 mb-2">
            <div class="col-sm-6 my-1">
                <a class="btn btn-outline-dark w-100 px-2 rounded-2 shadow" 
                    onclick="location.href='{% url 'home:new_user' %}'" 
                    type="button"> 
                    Zaregistrovať sa </a>
            </div>
            <div class="col-sm-6 my-1">
                <button class="btn btn-primary text-light bg-gradient w-100 px-2 rounded-2 shadow" 
                type="submit"> 
                Prihlásiť sa </button>
            </div>
        </div>
    </form>   



{% endblock %}