{% extends "home/login_layout.html" %}

{% block body %}


    <div class="container-fluid login-window position-absolute top-50 start-50 translate-middle rounded-5 shadow-lg">
        <h2 class="text-center mt-3 fw-semibold">Prihláste sa</h2>
        <form class="frm px-5 pb-3" action="{% url 'home:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="row">
                <div class="col-12 col-sm-6">
                    <button class="btn btn-outline-dark w-100 mt-3 px-2 rounded-5 shadow" onclick="location.href='{% url 'home:new_user' %}'" type="button"> Zaregistrovať sa </button>
                </div>
                <div class="col-12 col-sm-6">
                    <button class="btn btn-primary w-100 mt-3 px-2 rounded-5 shadow" type="submit"> Prihlásiť sa </button>
                </div>
            </div>
        </form>   
    </div> 


{% endblock %}