{% extends "home/login_layout.html" %}

{% load crispy_forms_tags %}


{% block title %}
    Vitajte naspäť!
{% endblock %}

{% block body %}

    {% crispy form %}

    <!-- <form class="needs-validation" novalidate action="{% url 'home:login' %}" method="post">
        {% csrf_token %}

        {{ form|crispy }}

        {% for elem in form %}
        <div class="form-floating my-2">
            {{ elem }}
            <label for="{{ elem.id_for_label }}">
                {{ elem.label }}
            </label>
            <div class="invalid-feedback ps-2">
                Meno alebo heslo nesprávne
            </div>
        </div>
        {% endfor %}

        <p class="my-1">
            Zabudli ste heslo? Kliknite 
            <a class="link-primary" href="{% url 'home:password_reset' %}">
                sem
            </a>
            !
        </p>
        <div class="row g-3">
            <div class="col-sm-6">
                <button class="btn btn-outline-dark w-100 rounded-2 shadow" 
                    onclick='location.href="{% url 'home:new_user' %}"'
                    type="button"> 
                    Zaregistrovať sa 
                </button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary bg-gradient w-100 rounded-2 shadow" 
                    type="submit"> 
                    Prihlásiť sa 
                </button>
            </div>
        </div>
    </form>    -->

    <script>        // Code for validation
        (() => {
            'use strict'
    
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
    
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
    
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    
    </script>



{% endblock %}