{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block my_account %}
<div class="m-5">
    <h1 class="my-account">Aha, tu si uprav svoj profil</h1>

    <script src="{% static 'my_account.js' %}"></script>

    <form class="frm p-1 needs-validation" id="MyAccount" novalidate action="{% url 'home:new_user' %}" method="post">
        {% csrf_token %}

        <div class="alert alert-danger">{{ form.non_field_errors }}</div>

        <div class="row g-2 my-2">

            <!-- Meno -->
            <div class="col-sm-6 form-floating">
                {{ form.firstname }}
                <label for="{{ form.firstname.id_for_label }}">
                    {{ form.firstname.label }}
                </label>
                <div class="invalid-feedback ps-2">
                    {% firstof form.firstname.errors "Zadajte valídne meno"%}
                </div>
            </div>

            <!-- Priezvisko -->

            <div class="col-sm-6 form-floating">
                {{ form.lastname }}
                <label for="{{ form.lastname.id_for_label }}">
                    {{ form.lastname.label }}
                </label>
                <div class="invalid-feedback ps-2">
                    {% firstof form.lastname.errors "Zadajte valídne priezvisko"%}
                </div>
            </div>

            <!-- Email -->

            <div class="col-12 form-floating">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">
                    {{ form.email.label }}
                </label>
                <p class="my-0">{{ form.email.help_text }}</p>
                <div class="invalid-feedback ps-2">
                    {% firstof form.email.errors "Zadajte valídny email"%}
                </div>
            </div>

            <!-- Telefón -->

            <div class="col-12 form-floating">
                {{ form.phone }}
                <label for="{{ form.phone.id_for_label }}">
                    {{ form.phone.label }}
                </label>
                <div class="invalid-feedback ps-2">
                    {% firstof form.phone.errors "Zadajte vaše telefónne číslo "%}
                </div>
                <p class="my-0">
                    <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    {{ form.phone.help_text }}
                </p>
            </div>


            <div class="col-12 form-check form-switch mx-2">
                {{ form.newsletter }}
                <label for="{{ form.newsletter.id_for_label }}" class="form-check-label">
                    {{ form.newsletter.label }}
                </label>
            </div>

            <!-- Terms & Conditions -->

            <div class="col-12 form-check form-switch mx-2">
                {{ form.terms_conditions }}
                <label for="{{ form.terms_conditions.id_for_label }}" class="form-check-label">
                    {{ form.terms_conditions.label }}
                </label>
            </div>
        </div>

        <!-- Portion size -->
        <div class="row mb-2">
            <h3 class="col-9 my-2">
                Koľko vás bude pravidelne jedávať? *
            </h3>
    
            <div class="btn-group col-3 my-2" role="group" aria-label="radio toggle">
                {% for attr in form.num_portions %}
                    {{ attr.tag }}
                    <label class="btn btn-outline-primary" for="{{ attr.id_for_label }}">    
                        {{ attr.choice_label }}
                    </label>
                {% endfor %}
            </div>
            <div class="invalid-feedback ps-2">
                {% firstof form.email.errors 'Toto pole je povinné' %}
            </div>
        </div>

        <p class="fw-lighter mb-2">
            <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            Automaticky vám bude objednané zvolené množstvo porcií, vždy si ich však viete manuálne zmeniť
        </p>


        <!-- Attributes -->

        <h3 class="mt-3">
            Zvoľte všetky položky, ktoré máte radi!
        </h3>
        <p class="fw-lighter mb-2 ">
            <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            Na základe tohto výberu vám automaticky zvolíme jedlá, ktoré vám budú chutiť.
            Vždy si však viete objednávku manuálne upraviť
        </p>
        <div class="d-flex flex-wrap justify-content-center">
            {% for attr in form.food_attributes %}
                <div>
                    {{ attr.tag }}
                    <label class="{{ form.fields.food_attributes.label_classes }}" for="{{ attr.id_for_label }}">
                        {{ attr.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <!-- Alergies -->

        <h3 class="mt-3">
            Máte nejaké alergie, o ktorých by sme mali vedieť?
        </h3>
        <p class="fw-lighter mb-2">
            <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            Zvoľte všetky alergény, jedlá s nimi pre vás nikdy automaticky nezvolíme a upozorníme vás,
            ak si ich budete chcieť objednať manuálne.
        </p>
        <div class="d-flex flex-wrap justify-content-center">
            {% for attr in form.alergies %}
                {{ attr.tag }}
                <label class="{{ form.fields.food_attributes.label_classes }}" for="{{ attr.id_for_label }}">
                    {{ attr.choice_label }}
                </label>
            {% endfor %}
        </div>


        <h3>Zadajte adresu doručenia</h3>
        <div class="row g-3 my-2">

            <!-- Ulica -->

            <div class="col-sm-8 form-floating">

                {{ form.street }}

                <label for="{{ form.street.id_for_label }}">
                    {{ form.street.label }}
                </label>
                <p class="my-0">{{ form.street.help_text }}</p>

                <datalist id="streets">
                    {% for street in streets %}
                    <option value="{{ street.street }}"></option>
                    {% endfor %}
                </datalist>

                <div class="invalid-feedback ps-2">
                    {{ form.street.errors }}
                </div>

            </div>

            <!-- Číslo domu -->

            <div class="col-sm-4 form-floating">

                {{ form.house_no }}

                <label for="{{ form.house_no.id_for_label }}">
                    {{ form.house_no.label }}
                </label>
                <p class="my-0">{{ form.house_no.help_text }}</p>
                <div class="invalid-feedback ps-2">
                    {{ form.house_no.errors }}
                </div>                
            </div>

            <!-- District -->

            <div class="col-sm-6 form-floating">

                {{ form.district }}

                <label for="{{ form.district.id_for_label }}">
                    {{ form.district.label }}
                </label>
                <p class="my-0">{{ form.district.help_text }}</p>

                <datalist id="districts">
                    {% for district in districts %}
                    <option value="{{ district }}"></option>
                    {% endfor %}
                </datalist>
                <div class="invalid-feedback ps-2">
                    {{ form.district.errors }}
                </div>
            </div>

            <!-- PSČ -->

            <div class="col-sm-6 form-floating">

                {{ form.postal }}

                <label for="{{ form.postal.id_for_label }}">
                    {{ form.postal.label }}
                </label>
            
                <datalist id="postal_codes">
                    {% for postal in postal_codes %}
                    <option value="{{ postal }}"></option>
                    {% endfor %}
                </datalist>
                <div class="invalid-feedback ps-2">
                    {{ form.postal.errors }}
                </div>
                <p class="my-0">
                    <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    {{ form.postal.help_text }}
                </p>
            </div>

            <!-- Mesto -->

            <div class="col-sm-8 form-floating">

                {{ form.city }}

                <label for="{{ form.city.id_for_label }}">
                    {{ form.city.label }}
                </label>
                <p class="my-0">{{ form.city.help_text }}</p>

                <datalist id="cities">
                    {% for city in cities %}
                    <option value="{{ city }}"></option>
                    {% endfor %}
                </datalist>
                <div class="invalid-feedback ps-2">
                    {{ form.city.errors }}
                </div>
            </div>

            <!-- Krajina -->

            <div class="col-sm-4 form-floating">
                {{ form.country }}
            </div>
            <div class="invalid-feedback ps-2">
                {{ form.country.errors }}
            </div>
        </div>


            <!-- Čas doručenia -->

        <h4>Upravte si pravidelný čas doručenia</h4>

            <!-- Spôsob platby -->

        <h4>Upravte si spôsob platby</h4>


        <!-- Buttons -->
        <div class="d-flex justify-content-end mt-3 g-3">
            <a class="btn btn-outline-primary mx-2" role="button" href="{% url 'home:my_account' %}">
                Zrušiť zmeny
            </a>
            <button type="submit" class="btn btn-primary mx-2" id="submit">
                Uložiť zmeny
            </button>
        </div>
        
    </form>

    <p class="mt-2">* Pole je povinné</p>
</div>
{% endblock %}

