{% extends "home/login_layout.html" %}

{% load static %}

{% block title %}
Zaregistrujte sa!
{% endblock %}

{% block body %}

<script src="{% static 'new_user.js' %}"></script>

<form class="frm p-1 needs-validation" id="SignupForm" novalidate action="{% url 'home:new_user' %}" method="post">
    {% csrf_token %}


    <div class="alert alert-danger">{{ form.non_field_errors }}</div>

<!-- Nav tabs -->

    <ul class="nav nav-pills nav-fill my-1 mb-3 sticky-top bg-light shadow rounded" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active {% if form.firstname.errors or form.lastname.errors or form.email.errors or form.phone.error or form.password1.errors or form.password2.errors or form.terms_conditions.errors %} 
                                            border border-danger 
                                        {% endif %}" id="general-tab" data-bs-toggle="pill" data-bs-target="#general"
                type="button" role="tab" aria-controls="general" aria-selected="true">
                Všeobecné údaje
            </button>

        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if form.num_portions.errors or form.food_attributes.errors or form.alergies.errors %} 
                                    border border-danger 
                                {% endif %}" id="preferences-tab" data-bs-toggle="pill" data-bs-target="#preferences"
                type="button" role="tab" aria-controls="profile" aria-selected="false">
                Preferencie
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if form.streer.errors or form.house_no.errors or form.district.errors or form.city.errors or form.postal.errors or form.country.errors %} 
                                    border border-danger 
                                {% endif %}" id="shipping-tab" data-bs-toggle="pill" data-bs-target="#shipping"
                type="button" role="tab" aria-controls="shipping" aria-selected="false">
                Doručenie
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="shipping_time-tab" data-bs-toggle="pill"
                data-bs-target="#shipping_time" type="button" role="tab" aria-controls="shipping_time"
                aria-selected="false">
                Čas doručenia
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="billing-tab" data-bs-toggle="pill" data-bs-target="#billing"
                type="button" role="tab" aria-controls="billing" aria-selected="false">
                Spôsob platby
            </button>
        </li>
    </ul>



<!-- Tab panes -->

    <div class="tab-content">

    <!-- Panel General -->

        <div class="tab-pane active" id="general" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
            <div class="row g-2 my-2">

                <!-- Meno -->
                <div class="col-sm-6 form-floating">
                    {{ form.firstname }}
                    <label for="{{ form.firstname.id_for_label }}">
                        {{ form.firstname.label }}
                    </label>
                    <div class="invalid-feedback ps-2">
                        {% firstof form.firstname.errors "Zadajte valídne meno"%}
                    </div>
                </div>

                <!-- Priezvisko -->

                <div class="col-sm-6 form-floating">
                    {{ form.lastname }}
                    <label for="{{ form.lastname.id_for_label }}">
                        {{ form.lastname.label }}
                    </label>
                    <div class="invalid-feedback ps-2">
                        {% firstof form.lastname.errors "Zadajte valídne priezvisko"%}
                    </div>
                </div>

                <!-- Email -->

                <div class="col-12 form-floating">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                    </label>
                    <p class="my-0">{{ form.email.help_text }}</p>
                    <div class="invalid-feedback ps-2">
                        {% firstof form.email.errors "Zadajte valídny email"%}
                    </div>
                </div>

                <!-- Telefón -->

                <div class="col-12 form-floating">
                    {{ form.phone }}
                    <label for="{{ form.phone.id_for_label }}">
                        {{ form.phone.label }}
                    </label>
                    <div class="invalid-feedback ps-2">
                        {% firstof form.phone.errors "Zadajte vaše telefónne číslo "%}
                    </div>
                    <p class="my-0">
                        <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        {{ form.phone.help_text }}
                    </p>
                </div>

                <!-- Heslá -->
                
                <div class="col-12 form-floating">
                    {{ form.password1 }}
                    <label for="{{ form.password1.id_for_label }}">
                        {{ form.password1.label }}
                    </label>
                    <div class="invalid-feedback ps-2">
                        {% firstof form.password1.errors form.password1.help_text %}
                    </div>
                </div>

                <div class="col-12 form-floating">
                    {{ form.password2 }}
                    <label class="{% if form.password2.errors %} is.invalid {% endif %}" for="{{ form.password2.id_for_label }}">
                        {{ form.password2.label }}
                    </label>
                    {% if form.password2.help_text %}
                        <p class="my-0">
                            <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                            {{ form.password2.help_text }}
                        </p>
                    {% endif %}
                    <div class="invalid-feedback ps-2">
                        {{ form.password2.errors }}
                    </div>
                </div>

                <!-- Newsletter -->

                <div class="col-12 form-check form-switch mx-2">
                    {{ form.newsletter }}
                    <label for="{{ form.newsletter.id_for_label }}" class="form-check-label">
                        {{ form.newsletter.label }}
                    </label>
                </div>

                <!-- Terms & Conditions -->

                <div class="col-12 form-check form-switch mx-2">
                    {{ form.terms_conditions }}
                    <label for="{{ form.terms_conditions.id_for_label }}" class="form-check-label">
                        {{ form.terms_conditions.label }}
                    </label>
                </div>

            </div>
        </div>

    <!-- Panel Preferences -->

        <div class="tab-pane" id="preferences" role="tabpanel" aria-labelledby="preferences-tab" tabindex="0">

            <!-- Portion size -->
            <div class="row mb-2">
                <h3 class="col-9 my-2">
                    Koľko vás bude pravidelne jedávať? *
                </h3>
        
                <div class="btn-group col-3 my-2" role="group" aria-label="radio toggle">
                    {% for attr in form.num_portions %}
                        {{ attr.tag }}
                        <label class="btn btn-outline-primary" for="{{ attr.id_for_label }}">    
                            {{ attr.choice_label }}
                        </label>
                        {% endfor %}
                </div>
                <div class="invalid-feedback ps-2">
                    {% firstof form.email.errors 'Toto pole je povinné' %}
                </div>
            </div>

            <p class="fw-lighter mb-2">
                <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                Automaticky vám bude objednané zvolené množstvo porcií, vždy si ich však viete manuálne zmeniť
            </p>


            <!-- Attributes -->

            <h3 class="mt-3">
                Zvoľte všetky položky, ktoré máte radi!
            </h3>
            <p class="fw-lighter mb-2 ">
                <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                Na základe tohto výberu vám automaticky zvolíme jedlá, ktoré vám budú chutiť.
                Vždy si však viete objednávku manuálne upraviť
            </p>
            <div class="d-flex flex-wrap justify-content-center">
                {% for attr in form.food_attributes %}
                    <div>
                        {{ attr.tag }}
                        <label class="{{ form.fields.food_attributes.label_classes }}" 
                            for="{{ attr.id_for_label }}">
                            {{ attr.choice_label }}
                        </label>
                    </div>
                {% endfor %}
            </div>


            <!-- Alergies -->

            <h3 class="mt-3">
                Máte nejaké alergie, o ktorých by sme mali vedieť?
            </h3>
            <p class="fw-lighter mb-2">
                <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                Zvoľte všetky alergény, jedlá s nimi pre vás nikdy automaticky nezvolíme a upozorníme vás,
                ak si ich budete chcieť objednať manuálne.
            </p>
            <div class="d-flex flex-wrap justify-content-center">
                {% for attr in form.alergies %}
                    {{ attr.tag }}
                    <label class="{{ form.fields.alergies.label_classes }}" for="{{ attr.id_for_label }}">
                        {{ attr.choice_label }}
                    </label>
                {% endfor %}
            </div>
        </div>

    <!-- Panel Adresa -->

        <div class="tab-pane" id="shipping" role="tabpanel" aria-labelledby="shipping-tab" tabindex="0">

            <h3>Zadajte adresu doručenia</h3>
            <div class="row g-3 my-2">

                <!-- Ulica -->

                <div class="col-sm-8 form-floating">

                    {{ form.street }}

                    <label for="{{ form.street.id_for_label }}">
                        {{ form.street.label }}
                    </label>
                    <p class="my-0">{{ form.street.help_text }}</p>

                    <datalist id="streets">
                        {% for street in streets %}
                        <option value="{{ street.street }}"></option>
                        {% endfor %}
                    </datalist>

                    <div class="invalid-feedback ps-2">
                        {{ form.street.errors }}
                    </div>

                </div>

                <!-- Číslo domu -->

                <div class="col-sm-4 form-floating">

                    {{ form.house_no }}

                    <label for="{{ form.house_no.id_for_label }}">
                        {{ form.house_no.label }}
                    </label>
                    <p class="my-0">{{ form.house_no.help_text }}</p>
                    <div class="invalid-feedback ps-2">
                        {{ form.house_no.errors }}
                    </div>                
                </div>

                <!-- District -->

                <div class="col-sm-6 form-floating">

                    {{ form.district }}

                    <label for="{{ form.district.id_for_label }}">
                        {{ form.district.label }}
                    </label>
                    <p class="my-0">{{ form.district.help_text }}</p>

                    <datalist id="districts">
                        {% for district in districts %}
                        <option value="{{ district }}"></option>
                        {% endfor %}
                    </datalist>
                    <div class="invalid-feedback ps-2">
                        {{ form.district.errors }}
                    </div>
                </div>

                <!-- PSČ -->

                <div class="col-sm-6 form-floating">

                    {{ form.postal }}

                    <label for="{{ form.postal.id_for_label }}">
                        {{ form.postal.label }}
                    </label>
                
                    <datalist id="postal_codes">
                        {% for postal in postal_codes %}
                        <option value="{{ postal }}"></option>
                        {% endfor %}
                    </datalist>
                    <div class="invalid-feedback ps-2">
                        {{ form.postal.errors }}
                    </div>
                    <p class="my-0">
                        <svg class="bi bi-info-circle pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        {{ form.postal.help_text }}
                    </p>
                </div>

                <!-- Mesto -->

                <div class="col-sm-8 form-floating">

                    {{ form.city }}

                    <label for="{{ form.city.id_for_label }}">
                        {{ form.city.label }}
                    </label>
                    <p class="my-0">{{ form.city.help_text }}</p>

                    <datalist id="cities">
                        {% for city in cities %}
                        <option value="{{ city }}"></option>
                        {% endfor %}
                    </datalist>
                    <div class="invalid-feedback ps-2">
                        {{ form.city.errors }}
                    </div>
                </div>

                <!-- Krajina -->

                <div class="col-sm-4 form-floating">
                    {{ form.country }}
                </div>
                <div class="invalid-feedback ps-2">
                    {{ form.country.errors }}
                </div>

            </div>
        </div>

        <!-- Čas doručenia -->

        <div class="tab-pane" id="shipping_time" role="tabpanel" aria-labelledby="shipping_time-tab" tabindex="0">
            Zvoľte si pravidelný čas doručovania
        </div>

        <!-- Spôsob platby -->

        <div class="tab-pane" id="billing" role="tabpanel" aria-labelledby="billing-tab" tabindex="0">
            Zvolte si spôsob platby
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-between mt-3">
            <div class="btn-group shadow" role="group">
                <button type="button" class="btn btn-outline-secondary" id="btn-prev" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </button>

                <button type="button" class="btn btn-primary" id="btn-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            </div>
            <button type="submit" class="btn btn-fancy" id="submit" disabled>
                Zaregistrovať sa
            </button>
        </div>
    </div>
</form>

<p class="mt-2">* Pole je povinné</p>

{% endblock %}