{% extends "home/login_layout.html" %}

{% block body %}

<section class="vh-100 bg-secondary">
    <div class="w-50 h-50 w-md-75 container-md position-absolute top-50 start-50 translate-middle p-5">
        <form class="frm p-3" action="{% url 'home:new_user' %}" method="post">
            {% csrf_token %}
            
            <div class="alert alert-danger" >{{ form.non_field_errors }}</div>
            
            {% for elem in form %}
                
                <div class="form-group pt-3">
                    <p> {{ elem.help_text }} </p>
                    <label for="{{ elem.id_for_label }}">
                        {{ elem }}
                        {% if elem.label == "district" %}
                            <datalist id="districts">
                                {% for district in districts %}
                                    <option value="{{ district.district }}"></option>
                                {% endfor %}
                            </datalist>
                        {% elif elem.label == "city" %}
                            <datalist id="cities">
                                {% for city in cities %}
                                    <option value="{{ city.city }}"></option>
                                {% endfor %}
                            </datalist>
                        {% elif elem.label == "postal" %}
                            <datalist id="postal_codes">
                                {% for postal in postal_codes %}
                                    <option value="{{ postal.code }}"></option>
                                {% endfor %}
                            </datalist>
                        {% elif elem.label == "street" %}
                            <datalist id="streets">
                                {% for street in streets %}
                                    <option value="{{ street.street }}"></option>
                                {% endfor %}
                            </datalist>
                        {% endif %}
                        <div class="alert alert-danger" >{{ elem.errors }}</div>
                    </label>
                </div>
                
            {% endfor %}
            <button class="btn btn-success" type="submit">Vytvor konto</button>
        </form>
    </div>
</section>

{% endblock %}