{% extends 'core/html/base.html' %}
{% load static %}

{% block page_name %}
Ingrediencie
{% endblock %}

{% block extra_head %}
<link href="{% static 'recipes/css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block core %}
<section id="ingredients-list" class="manage-list">
    <div>
        <div>
            {% include 'core/html/message_warning.html' with message=message warning=warning only %}
            <div class="row heading">
                <div class="col-auto title">
                    <h2 id="title">
                        Zoznam ingrediencií
                    </h2>
                </div>
                <div class="col-auto ms-auto actions btn-group-vertical">
                    <a role="button" href="{% url 'recipes:manage' %}" class="btn dark-light-button">
                        Späť
                    </a>
                    <a role="button" href="{% url 'recipes:add_ingredient' %}" class="btn success-light-button">
                        Pridať
                    </a>
                </div>
            </div>

            {% if ingredients.active %}
            <h4>Aktívne</h4>
            <div class="list">
                <hr width="90%" style="margin: 0 auto;">
                {% for ingredient in ingredients.active %}
                    {% include 'recipes/ingredients/widget.html' with ingredient=ingredient only %}
                    <hr width="90%" style="margin: 0 auto;">
                {% endfor %}
            </div>
            {% endif %}

            {% if ingredients.inactive %}
            <h4>Neaktívne</h4>
            <div class="list">
                <hr width="90%" style="margin: 0 auto;">
                {% for ingredient in ingredients.inactive %}
                    {% include 'recipes/ingredients/widget.html' with ingredient=ingredient only %}
                    <hr width="90%" style="margin: 0 auto;">
                {% endfor %}
            </div>
            {% endif %}
            
        </div>
    </div>
</section>
{% endblock %}