{% extends "core/html/mid_page_body.html" %}
{% load static %}


{% block page_name %}
  Typ odberu
{% endblock %}

{% block title %}
<span class="material-symbols-rounded">payments</span>
Praješ si zapnúť pravidelný odber? 
{% endblock %}

{% block extra_head %}
<script src="{% static 'accounts/js/choose_plan.js' %}"></script>
<link href="{% static 'accounts/css/choose_plan.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row g-3" id="options">
  <div class="col-sm-6">
    <a class="btn" id="no-subsribe" href="{% url 'accounts:choose_plan' %}?plan=0">
      <div>
        <h4 class="option-name">Bez odberu</h4>
        <div id="pros-cons">
          <p class="check"><span class="material-symbols-rounded"></span> 4 jedlá na výber denne</p>
          <p class="cross"><span class="material-symbols-rounded"></span> Automatické objednávanie podľa preferencií</p>
          <p class="cross"><span class="material-symbols-rounded"></span> Dovoz zadarmo</p>
          <p class="cross"><span class="material-symbols-rounded"></span> 0.50€ zľava na každú porciu</p>
          <p class="cross"><span class="material-symbols-rounded"></span> Prístup ku ingredienciam pred objednávkou</p>
          <p class="cross"><span class="material-symbols-rounded"></span> Možnosť voľby času doručenia</p>
        </div>
        </ul>
      </div>
    </a>
  </div>
  <div class="col-sm-6">
    <a class="btn" id="subsribe" href="{% url 'accounts:choose_plan' %}?plan=1">
      <div>
        <h4 class="option-name">Odoberať</h4>
        <div id="pros-cons">
          <p class="check"><span class="material-symbols-rounded"></span> 4 jedlá na výber denne</p>
          <p class="check"><span class="material-symbols-rounded"></span> Automatické objednávanie podľa preferencií</p>
          <p class="check"><span class="material-symbols-rounded"></span> Dovoz zadarmo</p>
          <p class="check"><span class="material-symbols-rounded"></span> 0.50€ zľava na každú porciu</p>
          <p class="check"><span class="material-symbols-rounded"></span> Prístup ku ingredienciam pred objednávkou</p>
          <p class="check"><span class="material-symbols-rounded"></span> Možnosť voľby času doručenia</p>
          <p class="check"><span class="material-symbols-rounded"></span> Zrušenie hocikedy bez poplatku</p>
          <p class="check"><span class="material-symbols-rounded"></span> Prvých 14 dní zadarmo</p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}