{% extends "core/html/mid_page_body.html" %}
{% load static %}


{% block page_name %}
  Emailová adresa potvrdená
{% endblock %}

{% block title %}
  <span class="material-symbols-rounded">mark_email_read</span>
  Emailová adresa úspešne potvrdená
{% endblock %}

{% block body %}
<h6>
    Pokračuj pridaním adresy doručenia:
  </h6>
  <div class="row justify-content-end">
    <a href="{% url 'accounts:add_first_address' %}" class="btn primary-button col-auto" role="button" style="margin-right: 10px;">
      Pridať adresu doručenia
    </a>
  </div>
{% endblock %}