{% load crispy_forms_tags %}

{% include 'core/html/message_warning.html' with warning=formset.non_form_errors only %}

<form id="ingredients-formset-{{ formset.prefix }}" method="post" 
  action="{% url 'recipes:edit_recipe_ingredients' recipe_id=recipe.id %}" 
  class="row g-4" prefix="{{ formset.prefix }}" recipe_id="{{ recipe.id }}"
  onsubmit="submit_form(event)">
  {% csrf_token %}
  <div id="management_form">
    {{ formset.management_form }}
  </div>

  {% for form in formset %}
  <div class="form-in-ingredients_formset col-6">
    {{ form | crispy }}
    <hr />
  </div>
  {% endfor %}

  <div class="col-12">
    <div id="div_id_ingredients_finished" class="mb-3">
      <input type="checkbox" name="ingredients_finished" class="checkboxinput form-check-input" id="id_ingredients_finished"
      {% if recipe.ingredients_finished %}checked{% endif %}>
      <label for="id_ingredients_finished" class="form-check-label"> Ingrediencie finálne hotové </label>
      <small id="hint_id_ingredients_finished" class="form-text text-muted"> 
        Označte, ak sú ingrediencie pripravené na publikáciu. 
      </small>
    </div>
  </div>

  <div class="col-6 ms-auto">
    <button type="button" class="btn secondary-button" id="add-ingredient-{{ formset.prefix }}"
      onclick="add_ingredient_form(event)">
      Pridať ingredienciu
    </button>
  </div>
  <div class="col-6 ms-auto">
    <input type="submit" name="submit" value="Uložiť" class="btn primary-button" id="submit" />
  </div>
</form>

<!-- Submition script -->
<script>
    function submit_form(event) {
      console.log('ing');
      event.preventDefault(); // prevent the form from submitting the normal way
      var form = event.target;
      
      const submit_button = form.querySelector("input[type='submit']")
      const submit_button_org = submit_button.value
      submit_button.value = "Odosielam..."
      submit_button.disabled = true
      
      console.log('bout to fetch');
      
      fetch(form.action, {
        method: form.method,
        body: new FormData(form),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        credentials: "same-origin"
      })
        .then(response => {
          console.log('got it back');

          if (response.ok) {
            return response.text();
          } else {
            throw new Error("Request failed with status " + response.status);
          }
        })
        .then(html => {
          console.log('appending');

          form.parentNode.innerHTML = html;
        })
        .catch(error => {
          console.error(error);
        })
    };
</script>

<!-- Adding forms script -->
<script>
  function add_ingredient_form(event) {
    let add_button = event.target
    let formset = add_button.closest('form')
    let formset_prefix = formset.getAttribute('prefix')

    let ingredient_forms = formset.querySelectorAll(`.form-in-ingredients_formset`)

    let empty_form = ingredient_forms[ingredient_forms.length - 1].cloneNode(true)

    let total_forms_field = formset.querySelector(`#id_${formset_prefix}-TOTAL_FORMS`)
    let max_forms = formset.querySelector(`#id_${formset_prefix}-MAX_NUM_FORMS`).value

    let new_form_number = total_forms_field.value
             
    empty_form.innerHTML = empty_form.innerHTML.replace(RegExp(`${formset_prefix}-${new_form_number-1}`,'g'), `${formset_prefix}-${new_form_number}`)

    ingredient_forms = formset.querySelectorAll(`.form-in-ingredients_formset`)
    ingredient_forms[ingredient_forms.length - 1].after(empty_form.cloneNode(true))
    ingredient_forms = formset.querySelectorAll(`.form-in-ingredients_formset`)
          
    total_forms_field.value++
    
    if (total_forms_field.value == max_forms) {
        add_button.disabled = true
        add_button.innerHTML = `Maximum ingrediencií (${max_forms}) dosiahnuté`
    }
    else {
        add_button.disabled = false
    }
    
    let new_focus_field = document.getElementById(`id_${formset_prefix}-${total_forms_field.value-1}-ingredient`)
    new_focus_field.focus()
  }
</script>