{% extends 'home/login_layout.html' %}

{% block title %}
    Email odoslaný
{% endblock %}

{% block body %}

	<!--Password reset sent-->
	<div class="container p-5 pt-0">
		<hr>
		<ul>
			<li>
				<p>
					Na zadanú adresu sme poslali mail s inštrukciami na obnovu hesla.
					Prosím postupujte podla nich. 
				</p>
			</li>
			<li>
				<p>
					Ak vám mail nepríde do pár minút, skontorlujte spam 
					a ujistite sa, že ste zadali správny email.
					Ak vám aj napriek tomu neprišiel, kontaktujte nás.
				</p>
			</li>
		</ul>
  	</div>

{% endblock %}