{% extends 'home/login_layout.html' %}

{% block title %}
    Zadajte nové heslo
{% endblock %}

{% block body %}

    {% load crispy_forms_tags %} 
  
  <!--Password Reset Confirm-->


    <div class="container p-5 pt-0">
		<hr>
        
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    
        <script>        // Code for validation
            (() => {
                'use strict'
        
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')
        
                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
        
                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        
        </script>
    
    </div>

{% endblock %}