$primary: #ff8e00;
$secondary: #063b1a;
$body-bg:                   $secondary;


@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
    font-size: xx-large ;
    font-family:sans-serif;
    color: rgb(255, 194, 53);
    text-align: center;
}

.frm{
    background-color: rgba(209, 192, 138, 0.7);
}

.alert:empty{
    display: none;
}