{% extends "core/html/base.html" %}
{% load static %}

{% block page_name %}
Management page
{% endblock %}

{% block extra_head %}
<script src="{% static 'core/js/form_validation.js' %}"></script>

<link href="{% static 'recipes/css/management_page.css' %}" rel="stylesheet">

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  })
</script>

{% endblock %}


{% block core %}

<!-- Account Icon -->
<p id="account" class="position-absolute end-0 top-0 p-3">
  Ahoj
  <a href="{% url 'customers:home_page' %}">
    {{ name }}
    <span class="material-symbols-rounded">
      account_circle
    </span>
  </a>
</p>

<div id="tabs" class="text-center position-absolute start-50 top-0 translate-middle-x pt-3 ">
  <a id="events-tab" href="#" class=""
    data-bs-toggle="tooltip" data-bs-title="Menu" data-bs-placement="bottom">
    <span class="material-symbols-rounded">
      event
    </span>
  </a>
  <a id="recipes-tab" href="{% url 'recipes:render_recipes' %}" class=""
    data-bs-toggle="tooltip" data-bs-title="Recepty" data-bs-placement="bottom">
    <span class="material-symbols-rounded">
      lunch_dining
    </span>
  </a>
  <a id="ingredients-tab" href="{% url 'recipes:list_ingredients' %}" class=""
    data-bs-toggle="tooltip" data-bs-title="Ingrediencie" data-bs-placement="bottom">
    <span class="material-symbols-rounded">
      kitchen
    </span>
  </a>

  <script>
    document.getElementById('{{ active_tab }}-tab').firstElementChild.style.fontVariationSettings = '"wght" 600';
  </script>
</div>

{% block page %}

{% endblock %}

{% endblock %}