{% extends "core/html/mid_page_body.html" %}
{% load static %}

{% block page_name %}
Admin page
{% endblock %}

{% block extra_head %}
<script src="{% static 'core/js/form_validation.js' %}"></script>
<script src="{% static 'core/js/add_address_google_map.js' %}"></script>

<style>
  a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
  }
  a > .material-symbols-rounded {
    font-size: 40px !important;
  }
 
</style>
{% endblock %}

{% block title %}
<span class="material-symbols-rounded">restaurant</span>
Ahoj {{name}}
{% endblock %}

{% block body %}
<div class="row text-center">
  <a href="{% url 'recipes:render_recipes' %}" class="col">
    <span class="material-symbols-rounded">
      lunch_dining
    </span>
    <br>
    Recepty
  </a>
  <a href="{% url 'recipes:list_ingredients' %}" class="col">
    <span class="material-symbols-rounded">
      kitchen
    </span>
    <br>
    Ingrediencie
  </a>
  <a href="{% url 'recipes:list_alergens' %}" class="col">
    <span class="material-symbols-rounded">
      egg
    </span>
    <br>
    Alergény
  </a>
</div>


{% endblock %}