@import "../../../../static/core/css/partials/variables";

#options {
  > div > a {
    border-radius: 5px;
    width: 100%;

    &#subsribe {
      border: 2px solid $primary;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
      }
    }
    &#no-subsribe {
      border: 2px solid grey;
      &:hover {
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

#pros-cons {
  text-align: left;
  p {
    margin: 0;
    font-size: 0.85rem;
  }
  .check {
    color: #198754;
    span::before {
      content: "check_circle";
    }
  }

  .cross {
    color: #dc3545;
    > span::before {
      content: "cancel";
    }
  }
}
