#options > div > a {
  border-radius: 5px;
  width: 100%;
}
#options > div > a#subsribe {
  border: 2px solid #f28500;
  transition: all 0.3s;
}
#options > div > a#subsribe:hover {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
}
#options > div > a#no-subsribe {
  border: 2px solid grey;
}
#options > div > a#no-subsribe:hover {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
}

#pros-cons {
  text-align: left;
}
#pros-cons p {
  margin: 0;
  font-size: 0.85rem;
}
#pros-cons .check {
  color: #198754;
}
#pros-cons .check span::before {
  content: "check_circle";
}
#pros-cons .cross {
  color: #dc3545;
}
#pros-cons .cross > span::before {
  content: "cancel";
}
