@import "../../../../static/core/css/partials/variables";

.accordion-item h2 span {
  font-size: 170% !important;
  margin-right: 0.5em;
}

tr.primary {
  color: $primary;
  td.make-primary span {
    color: gold;
    font-variation-settings: "FILL" 1;
  }
}

td {
  vertical-align: middle;
  &.name {
    font-weight: bold;
  }
  &.address {
    font-size: 80%;
    vertical-align: middle;
  }
  &.edit {
    text-align: center;
    padding: 0;
    font-size: 150% !important;
    span {
      color: black;
    }
  }
  &.delete {
    text-align: center;
    padding: 0;
    font-size: 150% !important;
    span {
      color: red;
    }
  }
  &.make-primary {
    text-align: center;
    padding: 0;
    font-size: 150% !important;
    span {
      color: black;
    }
  }
}
