{% extends 'core/html/admin_page_layout.html' %} {% load static %} {% load
crispy_forms_tags %} {% load render_bundle from webpack_loader %} {% block head
%}

<link
  href="{% static 'ingredients/css/management_page.css' %}"
  rel="stylesheet"
/>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
  });
</script>

{% endblock %} {% block page %}
<section id="ingredients-list" class="manage-list">
  <!-- New ingredient modal -->
  <div
    class="modal fade modal-dialog-scrollable"
    id="new-ingredient-modal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="new-ingredient-modal-title"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="new-ingredient-modal-title">
            <span class="material-symbols-rounded">ramen_dining</span>
            Nová ingrediencia
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">{% crispy new_ingredient_form %}</div>
      </div>
    </div>
  </div>
  {% if is_new_ingredient_modal_active %}
  <script>
    $(document).ready(function () {
      $("#new-ingredient-modal").removeClass("fade");
      $("#new-ingredient-modal").modal("show");
      $("#new-ingredient-modal").addClass("fade");
    });
  </script>
  {% endif %}

  <!-- HEADER -->
  {% for message in messages %} {% include 'core/html/message_warning.html' with
  message=message only %} {% endfor %} {% for warning in warnings %} {% include
  'core/html/message_warning.html' with warning=warning only %} {% endfor %}

  <div
    id="ingredient-management-page"
    search-url="{% url 'ingredients:search_ingredients' %}"
    ingredient-url="{% url 'ingredients:serialized_ingredient_versions' %}"
  ></div>

  {% render_bundle 'ingredient_website' %}

  <div class="new-ingredient row justify-content-right">
    <div class="ms-auto new-ingredient col-auto">
      <button
        type="button"
        class="btn success-light-button"
        data-bs-toggle="modal"
        data-bs-target="#new-ingredient-modal"
      >
        Nová inrgediencia
      </button>
    </div>
  </div>
</section>
{% endblock %}
