@import "../../../../../static/core/css/partials/variables";

div.cart {
  font-size: 1em;
  > a.cart {
    height: 100%;
    margin: 0px 0px;
    padding: 5px 15px;
    border: 1px solid $primary;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    p {
      padding: 0px 0px;
      margin: 0px 0px;
    }
    span {
      padding: 0px 0px 0px 5px;
      vertical-align: bottom;
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
      font-size: 150%;
    }
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
