{% load crispy_forms_tags %}
<div class="form">

  <form onsubmit="submit_form(event)" id="new-ingredient-version-form-{{ form.ingredient.value }}"
    form-action="{% url 'ingredients:new_ingredient_version' ingredient_id=form.ingredient.value %}" method="post">
    {% crispy form %}
  </form>
  <script>
    function submit_form(event) {
      event.preventDefault(); // prevent the form from submitting the normal way
      var form = event.target;
      
      const submit_button = form.querySelector("input[type='submit']")
      const submit_button_org = submit_button.value
      submit_button.value = "Odosielam..."
      submit_button.disabled = true
      
      console.log('bout to fetch');
      
      fetch(form.action, {
        method: form.method,
        body: new FormData(form),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        credentials: "same-origin"
      })
        .then(response => {
          console.log('got it back');

          if (response.ok) {
            return response.text();
          } else {
            throw new Error("Request failed with status " + response.status);
          }
        })
        .then(html => {
          console.log('appending');

          form.parentNode.innerHTML = html;
        })
        .catch(error => {
          console.error(error);
        })
    };
  </script>
</div>