{% extends "home/mid_page_body_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_name %}
  Email odoslaný
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}
  Email odoslaný
{% endblock %}

{% block body %}
  <h6 class="p-3">
    Na zadanú emailovú adresu sme odoslali mail s linkom na resetovanie hesla.
  </h6>
  <h6 class="p-3 pt-0">
    {% if pronoun == 'they' %}
    Ak Vám mail nepríde do pár minút, skontrolujte spam 
    a uistite sa, že ste zadali správny email.
    Ak vám aj napriek tomu neprišiel, kontaktujte nás.
    {% else %}
    Ak ti mail nepríde do pár minút, skontroluj si spam 
    a uisti sa, že si zadal správny email.
    Ak ti aj napriek tomu neprišiel, kontaktuj nás.
    {% endif %}
  </h6>
{% endblock %}
