.attributes > .attr {
  margin: 2px 3px;
  padding: 2px 8px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
}
.attributes > .attr:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

div.cart {
  font-size: 1em;
}
div.cart > a.cart {
  height: 100%;
  margin: 0px 0px;
  padding: 5px 15px;
  border: 1px solid #f28500;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
div.cart > a.cart p {
  padding: 0px 0px;
  margin: 0px 0px;
}
div.cart > a.cart span {
  padding: 0px 0px 0px 5px;
  vertical-align: bottom;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  font-size: 150%;
}
div.cart > a.cart:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.delivery-type {
  padding: 0px 15px;
  font-size: 2em;
}
.delivery-type > a {
  padding: 0px 15px;
}
.delivery-type > .active {
  color: #f28500;
  font-size: 100%;
}
.delivery-type > .active > span {
  -webkit-animation: selected 0.3s ease;
  animation: selected 0.3s ease;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 40;
  font-size: 100%;
}
.delivery-type > .inactive {
  color: gray;
  font-size: 100%;
}
.delivery-type > .inactive > span {
  -webkit-animation: unselected 0.3s ease;
  animation: unselected 0.3s ease;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
  font-size: 100%;
}
.delivery-type > .inactive:hover > span {
  -webkit-animation: hover 0.2s ease;
  animation: hover 0.2s ease;
  font-variation-settings: "wght" 500;
  font-size: 100%;
}

@-webkit-keyframes selected {
  0% {
    color: grey;
  }
  100% {
    color: #f28500;
  }
}

@keyframes selected {
  0% {
    color: grey;
  }
  100% {
    color: #f28500;
  }
}
@-webkit-keyframes hover {
  0% {
    font-variation-settings: "wght" 200;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}
@keyframes hover {
  0% {
    font-variation-settings: "wght" 200;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}
@-webkit-keyframes unselected {
  0% {
    color: #f28500;
    font-variation-settings: "wght" 500;
  }
  50% {
    color: grey;
  }
  100% {
    font-variation-settings: "wght" 200;
  }
}
@keyframes unselected {
  0% {
    color: #f28500;
    font-variation-settings: "wght" 500;
  }
  50% {
    color: grey;
  }
  100% {
    font-variation-settings: "wght" 200;
  }
}
.order-interface {
  font-size: 1.5em;
  background-color: #fdf3ec;
  border: 1px solid #f28500;
  border-radius: 10px;
  height: 1.5em;
}
.order-interface.active {
  color: #f28500;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
}
.order-interface.active h3 {
  font-weight: bold;
}
.order-interface.inactive {
  color: grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
}
.order-interface a:hover {
  background-color: #f28500;
  border-radius: 10px;
}
.order-interface a:hover i {
  color: #fdf3ec;
}
.order-interface i {
  padding: 0px 5px;
}
.order-interface i .enabled {
  color: #f28500;
}
.order-interface i .disabled {
  color: grey;
}
.order-interface .spinner,
.order-interface h3 {
  margin: 0px 5px;
}

.recipe-widget {
  border-radius: 10px;
}
.recipe-widget.vegan {
  background: #6d8b74;
  box-shadow: 0 0 10px 0 grey;
}
.recipe-widget.vegetarian {
  background: #c4dfaa;
  box-shadow: 0 0 10px 0 grey;
}
.recipe-widget.pescetarian {
  background: #c1efff;
  box-shadow: 0 0 10px 0 grey;
}
.recipe-widget.meat {
  background: #ffb3b3;
  box-shadow: 0 0 10px 0 grey;
}
.recipe-widget .price-tag {
  background: #fdf3ec;
  margin: 5px 5px;
  padding: 2px 10px;
  border-radius: 15px;
  font-weight: bold;
}
.recipe-widget .price-tag.vegan {
  background-color: #6d8b74;
  color: white;
}
.recipe-widget .price-tag.vegetarian {
  background-color: #c4dfaa;
}
.recipe-widget .price-tag.pescetarian {
  background-color: #c1efff;
}
.recipe-widget .price-tag.meat {
  background-color: #ffb3b3;
}
.recipe-widget .price-tag p {
  margin-bottom: 0;
}
