{% extends "core/html/mid_page_body.html" %}
{% load static %}

{% block extra_head %}
<script src="{% static 'core/js/form_validation.js' %}"></script> 
<link rel="stylesheet" href="{% static 'accounts/css/my_account.css' %}"/>
{% endblock %}

{% block title %}
  <span class="material-symbols-rounded">person</span>
  Upravte si svoj profil
{% endblock %}

{% block body %}
<div class="accordion" id="settings_accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-general">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general"
        aria-expanded="false" aria-controls="general">
        <span class="material-symbols-rounded">
          manage_accounts
        </span>
        Všeobecné údaje
      </button>
    </h2>
    <div id="general" class="accordion-collapse collapse" aria-labelledby="heading-general"
      data-bs-parent="#settings_accordion">
      <div class="accordion-body">
        {% block general %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-addresses">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#addresses"
        aria-expanded="false" aria-controls="address">
        <span class="material-symbols-rounded">
          person_pin_circle
        </span> 
        Adresy
      </button>
    </h2>
    <div id="addresses" class="accordion-collapse collapse" aria-labelledby="heading-addresses"
      data-bs-parent="#settings_accordion">
      <div class="accordion-body">
        {% block addresses %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-preferences">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#preferences"
        aria-expanded="false" aria-controls="preferences">
        <span class="material-symbols-rounded">
          tune
        </span> 
        Preferencie
      </button>
    </h2>
    <div id="preferences" class="accordion-collapse collapse" aria-labelledby="heading-preferences"
      data-bs-parent="#settings_accordion">
      <div class="accordion-body">
        {% block preferences %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-payments">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payments"
        aria-expanded="false" aria-controls="payments">
        <span class="material-symbols-rounded">
          Payments
        </span> 
        Spôsob platby
      </button>
    </h2>
    <div id="payments" class="accordion-collapse collapse" aria-labelledby="heading-payments"
      data-bs-parent="#settings_accordion">
      <div class="accordion-body">
        Tuto bude jedného dňa Form 4
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-history">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#history"
        aria-expanded="false" aria-controls="history">
        <span class="material-symbols-rounded">
          history
        </span> 
        História objednávok
      </button>
    </h2>
    <div id="history" class="accordion-collapse collapse" aria-labelledby="heading-history"
      data-bs-parent="#settings_accordion">
      <div class="accordion-body">
        Tuto bude história
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Open the section
    const section = document.getElementById('{{ section }}')
    if (section) {
      console.log(section.previousElementSibling.firstElementChild.click());
    }
  })
</script>

<a href="{% url 'customers:home_page' %}" class="btn secondary-button mt-3" role="button">
  Vrátiť domov
</a>
{% endblock %}